* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
    padding-bottom: 0px!important;
}

.papper {
    padding: 20px;
    margin: 20px;
}

.select-grid {
    margin-top: 16px!important;
}

.task-input-grid {
    height: 95px;
}

.ocup {
    padding: 5px 10px 0px;
    font-size: 12px;
}

.subname {
    font-size: 16px;
    padding: 2px 10px 0px;
}

.button-mg-right {
    margin-right: 20px!important;
}

.ex-panel {
    margin: 0 20px 1px!important;
}

.ex-p-d {
    padding: 0px!important;
}

.ex-p-d>div {
    width: 100%;
}

.time-cont {
    display: inline-block;
    width: 50%;
}

.time-cont>div {
    width: 90%;
}

.trash {
    min-width: unset!important;
    padding: 0px!important;
}

.pencil {
    min-width: unset!important;
}

.exec-input {
    width: calc(100% - 25px);
}

@media (max-width: 450px) {
    .papper {
        padding: 10px;
        margin: 10px;
    }
    .ex-panel {
        margin: 0 10px 1px!important;
    }
}

.SubList {
    width: 100%;
    overflow: hidden;
}

.SubList .ex-panel {
    margin: 0 -12px 1px!important;
}

.ex-panel h6 {
    margin-bottom: 0px!important;
}

.task-title-grid, .task-time-grid, .task-require-grid, .task-time-grid>div {
    display: inline-block;
}

.task-sum-wr {
    width: 100%;
}

.task-title-grid {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 28px);
}

.task-time-grid {
    min-width: 70px;
    width: calc(100% - 28px);
    color: #777;
}

.task-time-grid>div {
    padding: 0px 3px;
}

.task-require-grid {
    position: relative;
    top: -13px;
}

.task-sum {
    padding: 0px 10px!important;
}

@media (min-width: 425px) {
    .task-time-grid, .task-title-grid {
        width: calc(50% - 28px);
    }
    .task-require-grid {
        top: 4px;
    }
    .task-title-grid {
        position: relative;
        top: 7px;
    }
}

.divider {
    margin-bottom: 15px!important;
}

.divider-small-grid {
    padding: 0px 12px!important;
}

.button-marg-bot {
    margin-bottom: 10px!important;
}

.outline-none-pannel {
    border-left: none!important;
    border-right: none!important;
    border-top: 1px solid #d8d8d8;
    box-shadow: none!important;
    width: 100%!important;
}

.transp {
    opacity: 0;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.oldListForm, .newTaskForm, .oldTaskForm {
    width: 100%;
    padding: 0px 8px 26px;
}

.but-cont {
    display: inline-block;
    min-width: 230px;
    margin-bottom: 20px;
}

.del-but {
    display: inline-block;
}

.task-panel {
    padding: 0px!important;
}

.task-text {
    margin-bottom: 32px!important;
}

.executor-grid {
    padding: 5px 0px!important;
}

.executor-heading {
    margin-bottom: 35px;
}

.exp-sum-grid {
    padding-right: 0px!important;
}

.timer-grid, .big-but-grid {
    padding: 12px 0!important;
}

.big-but-grid>div {
    margin: 0 -12px -8px;
}

.timer-grid {
    margin: 0px 0px 11px 0px!important;
    padding: 0px!important;
}

.timer-full {
    background-color: #e97146;
    width: calc(100% + 16px);
    height: 15px;
    position: relative;
    margin: 0px -8px;
}

.timer-green {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0px;
    background-color: #78af42;
}

.timer-yellow {
    position: absolute;
    height: 100%;
    width: 35%;
    left: 50%;
    background-color: #e0e654;
}

.timer-arrow {
    position: absolute;
    height: 22px;
    width: 22px;
    margin-left: -11px;
    top: 100%;
    background-image: url(up.svg);
    background-size: contain;
    opacity: .4;
    transition: .7s;
}

.big-but:first-child {
    background-color: #4f8b23;
    color: #fff;
}

.big-but {
    width: 50%;
    display: inline-block;
    text-align: center;
    background-color: #e7d586;
    height: 160px;
    padding-top: 68px;
    color: #555;
    margin-bottom: -25px;
    cursor: pointer;
}

.big-but.wide {
    width:100%;
}

.small {
    font-size: 12px;
    position: relative;
    top: 8px;
    opacity: 1;
    transition: .4s;
    height: 30px;
}

.big {
    font-size: 20px;
    opacity: 1;
    transition: .4s;
    height: 30px;
}

.expanded .big {
    height: 0px;
    opacity: 0;
}

.expanded .small {
    height: 0px;
    opacity: 0;
}

.extra-big {
    font-size: 25px;
    position: relative;
    top: -6px;
}

.big svg, .center svg {
    height: 21px;
    width: 21px;
    margin: 0 10px;
    position: relative;
    top: 3px;
}

.skipped {
    background-color: #f6edc8!important;
}

.done {
    background-color: #b5dd80!important;
    color: #000!important;
}

.taskTitle {
    font-size: 14px;
}

.select-grid label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 30px);
}
